body {
  font-family: 'Roboto', sans-serif;
  border: solid 2px #AB6C82;
  width: 860px;
  margin-block: 0;
  margin: 4px auto;
  background-color: #dbd5ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  margin: 0;
  color: #dbd5ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  width: 50%;
  max-width: 500px;
  min-width: 236px;
  background-color: #475C7A;
}

aside h2 {
  color: #685D79;
  padding: 4px 0 4px 3%;
  background: #dbd5ce;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: block;
  margin-right: 28%;
  margin-top: 0;
}

aside .img {
  border: 3px solid #dbd5ce;
  margin: 0 auto;
  margin-top: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -webkit-filter: brightness(1.8);
          filter: brightness(1.8);
}

aside .img--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 76%;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 8px;
  border: 2px solid #dbd5ce;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
}

aside .contact--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  max-width: 180px;
}

aside .skills {
  text-align: left;
  margin: 0;
  margin-top: -8px;
}

aside .skills--list {
  width: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2px auto;
}

aside .skills label {
  display: block;
  width: 80%;
  margin-left: 1%;
}

aside .skills .progress {
  border: none;
  width: 100%;
  height: 24px;
  background-color: #dbd5ce;
  border-radius: 2px;
}

aside .skills .progress--1 {
  height: 24px;
  background-color: #AB6C82;
  width: 10%;
}

aside .skills .progress--2 {
  height: 24px;
  background-color: #AB6C82;
  width: 20%;
}

aside .skills .progress--3 {
  height: 24px;
  background-color: #AB6C82;
  width: 30%;
}

aside .skills .progress--4 {
  height: 24px;
  background-color: #AB6C82;
  width: 40%;
}

aside .skills .progress--5 {
  height: 24px;
  background-color: #AB6C82;
  width: 50%;
}

aside .skills .progress--6 {
  height: 24px;
  background-color: #AB6C82;
  width: 60%;
}

aside .skills .progress--7 {
  height: 24px;
  background-color: #AB6C82;
  width: 70%;
}

aside .skills .progress--8 {
  height: 24px;
  background-color: #AB6C82;
  width: 80%;
}

aside .skills .progress--9 {
  height: 24px;
  background-color: #AB6C82;
  width: 90%;
}

aside .skills .progress--10 {
  height: 24px;
  background-color: #AB6C82;
  width: 100%;
}

#mysqlLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#mysqlLabel img {
  width: 16px;
  height: 16px;
}

ul {
  margin-top: -8px;
}

li {
  margin: 4px 0;
}

main {
  margin-block: 0;
  background: #dbd5ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

main h1 {
  margin-top: 16px;
  font-weight: bold;
}

main h2 {
  position: relative;
  top: -16px;
  z-index: 999;
  padding: 4px 0 4px 4%;
  color: #dbd5ce;
  background: -webkit-gradient(linear, left top, right top, from(#475C7A), to(#AB6C82));
  background: linear-gradient(to right, #475C7A, #AB6C82);
  margin: 0 25% 0 0;
  min-width: 235px;
}

.transition {
  min-width: 248px;
  z-index: 1;
  margin: 0 25% 0 0;
  height: 32px;
  background: -webkit-gradient(linear, left top, right top, from(#685D79), to(#AB6C82));
  background: linear-gradient(to right, #685D79, #AB6C82);
  border-top-right-radius: 16px;
}

.block {
  margin-top: 0;
  margin-bottom: 8px;
}

.presentation {
  padding-left: 4%;
  color: #dbd5ce;
  background-color: #475C7A;
  padding-bottom: 3%;
}

.presentation span {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.presentation h1 {
  font-size: 52px;
}

.presentation #poste {
  background: -webkit-gradient(linear, right top, left top, from(#475C7A), color-stop(#AB6C82), color-stop(#AB6C82), to(#475C7A));
  background: linear-gradient(to left, #475C7A, #AB6C82, #AB6C82, #475C7A);
  margin-right: 42%;
}
/*# sourceMappingURL=style.css.map */