$dark-main: #242038;
$purple2 : #9067c6;
$purple1 : #8d86c9;
$pastel : #cac4ce;
$cream : #f7ece1;



body {
    font-family: 'Roboto', sans-serif;
    border: solid 2px $purple1;
    width: 96%;
    margin-block: 0;
    margin : 4px auto;
    background-color: $cream;
    display: flex;
}

aside {
    margin: 0;
    color: $cream;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    width: 35%;
    max-width:500px;
    min-width: 236px;
    background-color: $dark-main;

    & h2 {
        color: $purple2;
        padding: 4px 0 4px 6%;
        background: $cream;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        display: block;
        margin-right: 30%;
    }

    & .img {
        border: 3px solid $purple2;
        margin: 0 auto;
        width: 50%;
        border-radius: 50%;
        margin-top: 24px;
        margin-bottom:24px;

        &--container {
            display: flex;
        }
    }

    .skills {
        text-align: left;
        margin: 0;
        margin-top:-8px;

        &--list {
            width:94%;
            display: flex;
            justify-content: space-between;
            margin: 2px auto;
        }

        & label {
            display:block;
            min-width: 30px;
            overflow: hidden;
            margin-left:16px;
        }

        & .progress {
            border: none;
            width: 140px;
            height: 24px;
            background-color: $pastel;
            border-radius: 2px;

            &--6 {
                height: 24px;
                width: 60%;
                background-color: $purple2;
            }

            &--7 {
                height: 24px;
                width: 70%;
                background-color: $purple2;
            }

            &--8 {
                height: 24px;
                width: 80%;
                background-color: $purple2;
            }

            &--9 {
                height: 24px;
                width: 90%;
                background-color: $purple2;
            }



        }
    }
  
}
ul {
    margin-top : -8px;
}
li {
    margin : 4px 0;
}


main {
    margin-block: 0;
    width: 65%;
    background: $cream;
    display: flex;
    flex-direction: column;

    & h1 {
        font-weight: bold;
    }

    & h2 {
        position: relative;
        top: -16px;
        z-index:999;
        padding: 4px 0 4px 4%;
        color: $cream;
        background: linear-gradient(to right, $dark-main, $purple1);
        margin: 0 42% 0 0;
    }
    

}

.transition {
    z-index: 1;
    width: 58%;
    height: 32px;
    background: linear-gradient(to right, $purple2, $purple1);
    border-top-right-radius: 16px;

}

.block {
    margin-top:0;
    margin-bottom: 8px;
}

.presentation {
    padding-left: 4%;
    color: $cream;
    background-color: $dark-main;
    padding-bottom: 7%;
    & span {
        display : block;
        width: 80%;
        margin: 0 auto;
    }
    & h1 {
        font-size: 52px;
    }
    #poste {
        background: linear-gradient(to left, $dark-main, $purple1, $purple1, $dark-main);
        margin-right:42%;
    }
}